{
  "env": {
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "node": ["6.10"]
          },
          "modules": "commonjs",
          "shippedProposals": true
        }]
      ],
      "plugins": [
        "babel-plugin-add-module-exports"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": ["6.10"]
          },
          "modules": "commonjs",
          "shippedProposals": true
        }]
      ]
    }
  }
}
